Source: nephelae
Section: web
Priority: extra
Maintainer: Cloud Dev Team <cloud-dev@locaweb.com.br>
Build-Depends: ruby1.8
Standards-Version: 3.8.4
Homepage: http://www.locaweb.com.br

Package: nephelae
Architecture: any
Depends: ruby1.8
Description: nephelae cloud manager
 Nephelae cloud computing manager created by Cloud Dev Team at Locaweb
