<section class="main-section">
    <div class="main">
        <header class="main-header">
            <h2> Projects </h2>
            <button id="create">Create project</button>
        </header>
        <table class="list projects-table">
            <tbody>
            {{#items}}
            <tr class="project">
                <td>
                    <a class="name" id="show_{{ name }}" href="javascript:">{{ name }}</a><br>
                    <strong class="url">{{ git_url }}</strong>

                    <ul class="tags">
                        <li>{{ last_tag_testing }}</li>
                        <li>{{ last_tag_stable }}</li>
                    </ul>

                    <div class="details" id="project-{{ name }}-details"></div>
                </td>
            </tr>
            {{/items}}
            </tbody>
        </table>
    </div>
</section>
