<section class="main-section">
    <div class="main">
        <header class="main-header">
            <h2> Projects </h2>
            <button id="create">Create project</button>
        </header>
        <table class="list projects-table">
            <tbody>
            {{#items}}
            <tr class="project">
                <td class="name">
                    <span><a id="show-{{ name }}" href="#"><strong class="name">{{ name }}</strong></a></span>
                    <span>- {{ git_url }}</span>
                    <div id="project-{{ name }}-details" style="display: none;"></div>
                </td>
                <td class="tags">
                    <span><strong>{{ last_tag_testing }}</strong></span>
                    <span><strong>{{ last_tag_stable }}</strong></span>
                </td>
            </tr>
            {{/items}}
            </tbody>
        </table>
    </div>
</section>
