<div id="wizard">
	<% form_for @machine do |f| %>
		<%= render "step1", :form => f %>
		<%= render "step2", :form => f %>
		<%= render "step3", :form => f %>
		<%= render "step4", :form => f %>
	<% end %>
</div>
