Source: bricklayer
Section: unknown
Priority: extra
Maintainer: root <root@debian.localdomain>
Build-Depends: cdbs, debhelper (>= 7), python-twisted, build-essential, devscripts, python-setuptools
Standards-Version: 3.8.4
Homepage: http://github.com/locaweb/bricklayer

Package: bricklayer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Builds packages based on git tags or commits
 Bricklayer is a twisted application which watches your repository and builds debian packages for any change in tags or commits
