<ul>
	<li>
        <%= link_to t('accounts.title'), admin_accounts_path %>
    </li>
    <li>
        <%= link_to t('zones.title'), admin_zones_path %>
    </li>
    <li>
        <%= link_to t('processing_errors.title'), admin_processing_errors_path %>
    </li>
    <li>
        <%= link_to t('machines.title'), admin_virtual_machines_path %>
    </li>
</ul>
